@tailwind base;
@tailwind components;
@font-face {
  font-family: "TimesSansSerif";
  src: url("../assets/fonts/TimesSansSerif.ttf") format("truetype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HouseScript";
  src: url("../assets/fonts/HouseScript.ttf") format("truetype");
  font-display: block;
  font-weight: bold;
  font-style: normal;
}
@tailwind utilities;
